- if @background
  - final_url = @page.new_record? ? background_pages_path(@background) : background_page_url(@background,@page)
- else
  - final_url =  @page.new_record? ? pages_path : page_url(@image)
- form_for @page, :url =>final_url, :html => { :multipart => true } do |f|
  = f.error_messages
  %p
    Image
    %br
    - if @page.image
      = image_tag @page.image.data.url(:thumb)
    = file_field_tag "attachfile"
  - if @background
    = f.hidden_field :background_id
  - else
    %p
      = f.label :background_id
      %br
      = f.text_field :background_id
  %p
    = f.label :txt
    %br
    = f.text_area :txt
  %p
    = f.submit
