- title "Pages"

%p.model_actions
  = link_to "New Page", @background ? new_background_page_path(@background) : new_page_path

%table#main_table
  %tr
    %th Image
    %th Position
    %th Background
    %th Txt
    %th
  - for page in @pages
    %tr
      %td= image_tag page.image.data.url(:thumb) if page.image
      %td= h page.position
      %td= h page.background_id
      %td= h page.txt
      %td
        = link_to 'Show', @background ? background_page_path(@background,page) : page
        |
        = link_to 'Edit', @background ? edit_background_page_path(@background,page) : edit_page_path(page)
        |
        = link_to 'Destroy', @background ? background_page_path(@background,page) : page, :confirm => 'Are you sure?', :method => :delete

