- form_for @faction, :html => {:multipart => true} do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    Image
    %br
    - if @faction.image
      = image_tag @faction.image.data.url(:thumb)
    = file_field_tag "attachfile"
  %p
    = f.submit
