- title "Levels"

%p.model_actions= link_to "New Level", new_level_path

%table#main_table
  %tr
    %th Image
    %th Position
    %th Name
    %th Environment
    %th Campaign
    %th Pre background
    %th Post background
    %th
  - for level in @levels
    %tr
      %td= image_tag level.image.data.url(:thumb) if level.image
      %td= h level.position
      %td= h level.name
      %td= h level.environment_id
      %td= h level.campaign_id
      %td= h level.pre_background_id
      %td= h level.post_background_id
      %td
        = link_to 'Show', level
        = link_to 'Edit', edit_level_path(level)
        = link_to 'Destroy', level, :confirm => 'Are you sure?', :method => :delete

