- form_for @unit, :html => { :multipart => true } do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :cost
    %br
    = f.text_field :cost
  %p
    = f.label :faction_id
    %br
    = f.text_field :faction_id
  %p
    = f.label :background_id
    %br
    = f.text_field :background_id
  %p
    = f.label :move
    %br
    = f.text_field :move
  %p
    = f.label :force
    %br
    = f.text_field :force
  %p
    = f.label :skill
    %br
    = f.text_field :skill
  %p
    = f.label :resistance
    %br
    = f.text_field :resistance
  %p
    = f.label :move_type
    %br
    = f.text_field :move_type
  %p
    = f.label :max_equip
    %br
    = f.text_field :max_equip
  %p
    = f.label :image_id
    %br
    = image_tag @unit.image.data.url(:thumb) if @unit.image
    = file_field_tag "attachfile"
  %p
    = f.submit
