- title "Units"

%table
  %tr
    %th Name
    %th Cost
    %th Faction
    %th Background
    %th Move
    %th Force
    %th Skill
    %th Resistance
    %th Move type
    %th Max equip
    %th Image
  - for unit in @units
    %tr
      %td= h unit.name
      %td= h unit.cost
      %td= h unit.faction_id
      %td= h unit.background_id
      %td= h unit.move
      %td= h unit.force
      %td= h unit.skill
      %td= h unit.resistance
      %td= h unit.move_type
      %td= h unit.max_equip
      %td= h unit.image_id
      %td= link_to 'Show', unit
      %td= link_to 'Edit', edit_unit_path(unit)
      %td= link_to 'Destroy', unit, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Unit", new_unit_path
