- title "Units"

%p.model_actions= link_to "New Unit", new_unit_path

%table#main_table
  %tr
    %th Name
    %th Cost
    %th Faction
    %th M
    %th F
    %th S
    %th R
    %th Move type
    %th Max equip
    %th Image
    %th
  - for unit in @units
    %tr
      %td= h unit.name
      %td= h unit.cost
      %td= h unit.faction_id
      %td= h unit.move
      %td= h unit.force
      %td= h unit.skill
      %td= h unit.resistance
      %td= h unit.move_type
      %td= h unit.max_equip
      %td= h unit.image_id
      %td
        = link_to 'Show', unit
        |
        = link_to 'Edit', edit_unit_path(unit)
        |
        = link_to 'Destroy', unit, :confirm => 'Are you sure?', :method => :delete

