- form_for @image do |f|
  = f.error_messages
  %p
    = f.label :title
    %br
    = f.text_field :title
  %p
    = f.label :data_file_name
    %br
    = f.text_field :data_file_name
  %p
    = f.label :data_content_type
    %br
    = f.text_field :data_content_type
  %p
    = f.label :data_file_size
    %br
    = f.text_field :data_file_size
  %p
    = f.label :data_updated_at
    %br
    = f.datetime_select :data_updated_at
  %p
    = f.submit
