- form_for @image, :html => { :multipart => true } do |f|
  = f.error_messages
  %p
    = f.label :title
    %br
    = f.text_field :title
  %p
    = f.label :data
    %br
    - unless @image.new_record?
      = image_tag @image.data.url(:thumb)
    = f.file_field :data
  %p
    = f.submit
