- title "Images"

%table
  %tr
    %th Title
    %th Data file name
    %th Data content type
    %th Data file size
    %th Data updated at
  - for image in @images
    %tr
      %td= h image.title
      %td= h image.data_file_name
      %td= h image.data_content_type
      %td= h image.data_file_size
      %td= h image.data_updated_at
      %td= link_to 'Show', image
      %td= link_to 'Edit', edit_image_path(image)
      %td= link_to 'Destroy', image, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Image", new_image_path
