- title "Images"

%p.model_actions= link_to "New Image", new_image_path

%table#main_table
  %tr
    %th 
    %th Title
    %th Original file name
    %th Content type
    %th File size
    %th
  - for image in @images
    %tr
      %td= image_tag(image.data.url(:thumb))
      %td= h image.title
      %td= h image.data_file_name
      %td= h image.data_content_type
      %td= h number_to_human_size(image.data_file_size)
      %td
        = link_to 'Show', image
        = link_to 'Edit', edit_image_path(image)
        = link_to 'Destroy', image, :confirm => 'Are you sure?', :method => :delete


