- form_for @player, :html => { :multipart => true } do |f|
  = f.error_messages
  %p
    = f.label :alias
    %br
    = f.text_field :alias
  %p
    = f.label :email
    %br
    = f.text_field :email
  %p
    = f.label :image_id
    %br
    - if @player.image
      = image_tag @player.image.data.url(:thumb)
    = file_field_tag "attachfile"
  %p
    = f.submit
