- title "Players"

%p.model_actions= link_to "New Player", new_player_path

%table#main_table
  %tr
    %th Image
    %th Alias
    %th Email
    %th
  - for player in @players
    %tr
      %td= image_tag player.image.data.url(:thumb) if player.image
      %td= h player.alias
      %td= h player.email
      %td
        = link_to 'Show', player
        = link_to 'Edit', edit_player_path(player)
        = link_to 'Destroy', player, :confirm => 'Are you sure?', :method => :delete

