- title "Players"

%table#main_table
  %tr
    %th Alias
    %th Email
    %th Image
    = '<th/>'*3
  - for player in @players
    %tr
      %td= h player.alias
      %td= h player.email
      %td= h player.image_id
      %td= link_to 'Show', player
      %td= link_to 'Edit', edit_player_path(player)
      %td= link_to 'Destroy', player, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Player", new_player_path
