- form_for @campaign, :html => {:multipart => true} do |f|
  = f.error_messages
  %p
    = f.label :background_id
    %br
    = f.text_field :background_id
  %p
    = f.label :image_id
    %br
    - if @campaign.image
      = image_tag @campaign.image.data.url(:thumb)
    = file_field_tag "attachfile"
  %p
    = f.submit
