- title "Unit Options"

%p.model_actions= link_to "New Unit Option", new_unit_option_path

%table#main_table
  %tr
    %th Image
    %th Name
    %th Unit
    %th Cost
    %th M
    %th F
    %th S
    %th R
    %th Fly
    %th Type
    %th Use
    %th Quantity
    %th
  - for unit_option in @unit_options
    %tr
      %td= image_tag unit_option.image.data.url(:thumb) if unit_option.image
      %td= h unit_option.name
      %td= h unit_option.unit_id
      %td= h unit_option.cost
      %td= h unit_option.move
      %td= h unit_option.force
      %td= h unit_option.skill
      %td= h unit_option.resistance
      %td= h unit_option.fly
      %td= h unit_option.equip_type
      %td= h unit_option.use
      %td= h unit_option.quantity
      %td
        = link_to 'Show', unit_option
        = link_to 'Edit', edit_unit_option_path(unit_option)
        = link_to 'Destroy', unit_option, :confirm => 'Are you sure?', :method => :delete

