- form_for @squadron, :html => { :multipart => true } do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :player_id
    %br
    = f.text_field :player_id
  %p
    = f.label :game_id
    %br
    = f.text_field :game_id
  %p
    = f.label :image_id
    %br
    = image_tag @squadron.image.data.url(:thumb) if @squadron.image
    = file_field_tag "attachfile"
  %p
    = f.submit
