- title "Squadrons"

%p.model_actions= link_to "New Squadron", new_squadron_path

%table#main_table
  %tr
    %th Name
    %th Player
    %th Game
    %th Image
    %th
  - for squadron in @squadrons
    %tr
      %td= h squadron.name
      %td= h squadron.player_id
      %td= h squadron.game_id
      %td= h squadron.image_id
      %td
        = link_to 'Show', squadron
        = link_to 'Edit', edit_squadron_path(squadron)
        = link_to 'Destroy', squadron, :confirm => 'Are you sure?', :method => :delete

