- title "Environments"

%p.model_actions= link_to "New Environment", new_environment_path

%table#main_table
  %tr
    %th Image
    %th Name
    %th
  - for environment in @environments
    %tr
      %td= image_tag environment.image.data.url(:thumb) if environment.image
      %td= h environment.name
      %td
        = link_to 'Show', environment
        = link_to 'Edit', edit_environment_path(environment)
        = link_to 'Destroy', environment, :confirm => 'Are you sure?', :method => :delete

