- title "Backgrounds"

%p.model_actions= link_to "New Background", new_background_path

%table#main_table
  %tr
    %th Name
    %th
  - for background in @backgrounds
    %tr
      %td= h background.name
      %td
        = link_to "#{background.pages.length} pages", background_pages_path(background)
        = link_to 'Show', background
        |
        = link_to 'Edit', edit_background_path(background)
        |
        = link_to 'Destroy', background, :confirm => 'Are you sure?', :method => :delete

