- form_for @game do |f|
  = f.error_messages
  %p
    = f.label :environment_id
    %br
    = f.text_field :environment_id
  %p
    = f.label :level_id
    %br
    = f.text_field :level_id
  %p
    = f.submit
