- title "Games"

%p.model_actions= link_to "New Game", new_game_path

%table#main_table
  %tr
    %th Environment
    %th Level
    %th
  - for game in @games
    %tr
      %td= h game.environment_id
      %td= h game.level_id
      %td
        = link_to 'Show', game
        = link_to 'Edit', edit_game_path(game)
        = link_to 'Destroy', game, :confirm => 'Are you sure?', :method => :delete

