- title "Squadron Units"

%table
  %tr
    %th Squadron
    %th Unit
    %th Level
    %th Exp
    %th Position
  - for squadron_unit in @squadron_units
    %tr
      %td= h squadron_unit.squadron_id
      %td= h squadron_unit.unit_id
      %td= h squadron_unit.level
      %td= h squadron_unit.exp
      %td= h squadron_unit.position
      %td= link_to 'Show', squadron_unit
      %td= link_to 'Edit', edit_squadron_unit_path(squadron_unit)
      %td= link_to 'Destroy', squadron_unit, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Squadron Unit", new_squadron_unit_path
